.relogioCaixa{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .05em;
}


.relogioNumero {
  background-color: #5D677C;
  border-radius: 1rem;
  padding: .3em 0em 0em 0em;

     @media screen and (min-width:1280px) {
     }
}

.relogioDivisao {
  @media screen and (min-width:1280px) {
  }
}